<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id			= "com.Synapse.jwpower"
	version 	= "1.0.0">

	<name>J-W Power</name>

	<description>
		iPhone app for accessing J-W Power's compressor calculator and contacts
	</description>

	<author href="http://www.synapsewebsite.com"
		email="jason@synapse.ws">
		Jason Sams
	</author>
	
	<preference name="ios-statusbarstyle" value="black-opaque" />
	
	<preference name="target-device" value="handset" />

	<icon src="icon.png" width="57" height="57" />
	<icon src="icon@2x.png" gap:platform="ios" width="72" height="72" />
	
	<gap:splash src="splash.png" />

	<preference name="orientation" value="portrait" />
</widget>
